<div class="content-wrapper staff-registration dashboard hrMt75">
  <!-- Content Header (Page header) -->
  <section class="content-header" style="padding-top:0;">
    <div class="row">
      <div class="col-md-12 btn-same">
        <button class="btn btn-register btn-default SearchBtn pull-left">検索</button>
        <button class="btn btn-register btn-default pull-left">クリア</button>
        <div class="" style="display:inline-block;">
          <h1 style="padding-top:3px; display:inline-block;">
            企業別売上累計
          </h1>
        </div>
      </div>
    </div>
  </section>

  <section class="content content-main" style="padding-top:5px;">
    <form id="transQuotation" name="transQuotation">
      <div class="box box-primary smallHeight">
        <div class="panel-body mxWidth1290">
          <div class="row margin-5">
            <div class="col-sm-12 paddingLR5">
              <!-- section 1 -->
              <div class="thumbnail mb7">
                <div class="row margin-5 mb7">
                  <div class="col-md-1 col-sm-2 col-xs-6 paddingLR5">
                    <div class="padding2">
                      <div class="form-group">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="From">
                          <span class="input-group-btn">
                            <label for="billingDateFrom" class="btn btn-default remove-padding">
                              <i class="fa fa-calendar"></i>
                            </label>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-1 col-sm-2 col-xs-6 paddingLR5">
                    <div class="padding2">
                      <div class="form-group">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="To">
                          <span class="input-group-btn">
                            <label for="billingDateFrom" class="btn btn-default remove-padding">
                              <i class="fa fa-calendar"></i>
                            </label>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-1 col-sm-2 col-xs-6 paddingLR5">
                    <div class="padding2">
                      <select name="" id="" class="form-control">
                        <option value="">支社</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-1 col-sm-2 col-xs-6 paddingLR5">
                    <div class="padding2">
                      <select name="" id="" class="form-control">
                        <option value="">チーム</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-1 col-sm-2 col-xs-6 paddingLR5">
                    <div class="padding2">
                      <select name="" id="" class="form-control">
                        <option value="">企業区分</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-6 col-sm-12 col-xs-12 paddingLR5">
                    <div class="padding2">
                      <label class="checkbox-inline"><input type="checkbox" value="">問合せ無し</label>
                      <label class="checkbox-inline"><input type="checkbox" value="">発注無し</label>
                      <span style="margin-left: 15px">
                        表示件数
                        <input type="text" class="form-control" placeholder="100"
                          style="width: 50px; display:inline-block;">
                      </span>
                      <button class="btn btn-default btn-sm" style="margin-left: 15px;">メール送信</button>
                    </div>
                  </div>
                </div>





                <div class="table-responsive mb7" style="overflow:scroll">
                  <table class="table table-bordered cmn_analysis_tbl" style="margin-bottom: 0;">
                    <thead>
                      <tr class="bg-light-blue text-center">
                        <td style="min-width: 50px;"><input type="checkbox" value=""></td>
                        <td>企業名</td>
                        <td>企業番号</td>
                        <td>営業予定日</td>
                        <td>最終問合せ日</td>
                        <td>最終受注日</td>
                        <td>問合せ数</td>
                        <td>問合せ金額</td>
                        <td>受注数</td>
                        <td>受注金額</td>
                        <td>受注率</td>
                        <td>社内営業担当者</td>
                        <td>メールアドレス</td>
                        <td>会社名</td>
                        <td>役職</td>
                        <td>担当者名</td>
                        <td>電話番号</td>
                        <td>郵便番号</td>
                        <td>住所</td>
                        <td>ウェブサイト</td>
                        <td>取引開始日</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="clearfix">
                  <span class="pull-left">100項目/ページ</span>
                  <span class="pull-right margin-right20">1-100/100件</span>
                </div>
              </div>
            </div>
          </div>
        </div>
    </form>
  </section>
</div>