<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            WorkList
        </h3>
    </div>
    <div class="panel-body">
       <div class="mxWidth1290 thumbnail">
        <div class="row">
            <div class="col-sm-12" style="margin-bottom: 10px;">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <button class="btn btn-default">
                           Search
                       </button>
                        <button class="btn btn-default">
                           clear
                       </button>
                    </div>
                    <div class="col-sm-6 text-center">
                        <button class="btn btn-default">
                           Close
                       </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4 paddingRight5">
                        <div class="thumbnail">
                            <div class="row mb7">
                                <div class="col-md-6 paddingRight5">
                                    <div class="form-group">                                        
                                        <input class="form-control" type="text" name="" placeholder="Quotation No.">
                                    </div>
                                </div>
                                <div class="col-md-6 paddingLeft5">
                                    <div class="form-group">                                        
                                        <input class="form-control" type="number" name="" placeholder="Inquery Date.">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb7">
                                <div class="col-md-6 paddingRight5">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option value="">▼ Quatation Type</option>
                                            <option value="">Quatation</option>
                                            <option value="">Quatation</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 paddingLeft5">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option value="">▼ Quatation route</option>
                                            <option value="">Quatation</option>
                                            <option value="">Quatation</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb7">
                                <div class="col-md-6 paddingRight5">
                                    <div class="form-group">
                                        Sales Rep.
                                    </div>
                                </div>
                                <div class="col-md-6 paddingLeft5">
                                    <div class="form-group">
                                        Company/Office
                                    </div>
                                </div>
                            </div>
                            <div class="row mb7">
                                <div class="col-md-6 paddingRight5">
                                    <div class="form-group">
                                        Coordinator
                                    </div>
                                </div>
                                <div class="col-md-6 paddingLeft5">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 paddingLR5">
                        <div class="thumbnail">
                            <div class="row mb7">
                                <div class="col-md-6 paddingRight5">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" placeholder="Client No" style="">
                                    </div>
                                </div>
                                <div class="col-md-6 paddingLeft5">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" placeholder="Client Name" style="">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb7">
                                <div class="col-md-6 paddingRight5">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" placeholder="The person in charge" style="">
                                    </div>
                                </div>
                                <div class="col-md-6 paddingLeft5">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" placeholder="Email" style="">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb7">
                                <div class="col-md-6 paddingRight5">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" placeholder="Phone" style="">
                                    </div>
                                </div>
                                <div class="col-md-6 paddingLeft5">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="" placeholder="FAX" style="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 paddingRight5">
                                    <div class="form-group">
                                        <select class="form-control">
                                        <option value="">▼ language</option>
                                        <option value="">Quatation</option>
                                        <option value="">Quatation</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="col-md-6 paddingLeft5">
                                    <div class="form-group">
                                        <select class="form-control">
                                        <option value="">▼ language</option>
                                        <option value="">Quatation</option>
                                        <option value="">Quatation</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 paddingLeft5">
                        <div class="thumbnail mb7">
                            <div class="form-group bg-gray checkbox-group">
                                <label class="col-md-4 col-lg-3 paddingLR5">
                                    Client Status
                                </label>
                                <ul class="list-inline">
                                    <li><input type="radio" name="Client" style=""> New</li>
                                    <li><input type="radio" name="Client" style=""> Existing</li>
                                    <li><input type="radio" name="Client" style=""> Prospect</li>
                                    <li><input type="radio" name="Client" > All</li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group bg-gray checkbox-group">
                                <label class="col-md-4 col-lg-3 paddingLR5">Working Status</label>
                                <ul class="list-inline">
                                    <li><input type="radio" name="Working" style=""> Ongoing/Done
                                    </li>
                                    <li><input type="radio" name="Working"  style="">Not yet</li>
                                    <li><input type="radio" name="Working" style=""> All
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group bg-gray checkbox-group">
                                <label class="col-md-4 col-lg-3 paddingLR5">Order Status</label>
                                <ul class="list-inline">
                                    <li><input type="radio" name="Order" style="">Ordered</li>
                                    <li><input type="radio" name="Order" style="">Waiting</li>
                                    <li><input type="radio" name="Order" style="">All</li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group bg-gray checkbox-group">
                                <label class="col-md-4 col-lg-3 paddingLR5"></label>
                                <ul class="list-inline">
                                    <li><input type="radio" name="Order" style="">File Present</li>
                                    <li><input type="radio" name="Order" style="">Deleted Quotation</li>
                                    <li><input type="radio" name="Order" style="">No Order</li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>



    <div class="clearfix" style="border-bottom:1px solid #ddd; margin:15px 0;"></div>

    <div class="form-group">
        <div ui-grid="gridOptions" ui-grid-pagination ui-grid-save-state ui-grid-cellNav ui-grid-resize-columns ui-grid-move-columns ui-grid-exporter></div>
    </div>
    <div class="footerdescription">
        <strong>Designed By:</strong> Mr.Naieem
        <strong> Developed By:</strong> Tamal
        <strong> Manager:</strong>Mr.Mamun
    </div>
</div>